{% extends "base.html" %}

{% block title %}
  <title>Model Audit</title>
{% endblock %}

{% block content %}
<body id="ModelAuditPage">

  
<br>
<div class="container" style="padding-top:60px; margin-left: 8%;">

<!---- Form for selecting team -------->
  <div class="btn-group">
      <div class="dropdown" id="MetadataTeamSelect">
        <a class="btn dropdown-toggle m-1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
          
          {% if selected_team is not none %}
            {{selected_team}}
          {% else %}
            Select Team
          {% endif %}

        </a>
      
        <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink">
          {% if teams is not none %}

            {% for team in teams %}
              <a class="dropdown-item" href="/opsml/audit/?team={{team}}">{{team}}</a>
            {% endfor %}
          
            {% else %}
            <a class="dropdown-item" href="#">No Team Found</a>
            {% endif %}
        </div>
      </div>

      <div class="dropdown" id="MetadataTeamSelect">
        <a class="btn dropdown-toggle m-1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
          
          {% if selected_model is not none %}
            {{selected_model}}
          {% else %}
            Select Model
          {% endif %}
    
        </a>
        <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink">
          {% if models is not none %}
            {% for model in models %}
              <a class="dropdown-item" href="/opsml/audit/?team={{selected_team}}&model={{model}}">{{model}}</a>
            {% endfor %}
          {% endif %}
        </div>
      </div>


      <div class="dropdown" id="MetadataTeamSelect">
        <a class="btn dropdown-toggle m-1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
          {% if version is not none %}
            {{version}}
          {% else %}
            Select Version
          {% endif %}
        </a>
      
        <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink">
          {% if versions is not none %}
            {% for version in versions %}
              <a class="dropdown-item" href="/opsml/audit/?team={{selected_team}}&model={{selected_model}}&version={{version}}">{{version}}</a>
            {% endfor %}
          {% endif %}
        </div>
      </div>

  </div>

  {% if audit_report is not none %}

<br>
<br>
<div class="container" id="PageHeader">
    <div class="page-header">
      <h2>AuditCard for {{selected_model}}:{{version}}</h2>
      <hr>

      {% if audit_report["status"] == true %}

      <h3>Status: <font color="green">Approved</font></h3>

      {% else %}

      <h3>Status: <font color="red">Not Approved</font></h3>

      {% endif %}
 
    </div>
</div>
<br>

  <form>
    <div class="form-group row">
      <div class="col-md-4 mb-3">
        <label for="InputName">Name</label>
        <input name="name" type="text" class="form-control" id="InputName" placeholder="Name" value={{audit_report["name"]}} required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="InputTeam">Team</label>
        <input name="team" type="text" class="form-control" id="InputTeam" placeholder="Team" value={{audit_report["name"]}} required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="InputEmail">User Email</label>
        <input name="email" type="text" class="form-control" id="InputEmail" placeholder="Email" value={{audit_report["name"]}} required>
      </div>
    </div>

    
    <div class="accordion accordion-flush" id="AuditAccordion">
    {% for section, section_data in audit_report["audit"].items() %}


        {% with section=section, section_data=section_data %}
        {% include "include/audit/audit_section.html" %}
        {% endwith %}
    {% endfor %}
    </div>

    <br>
    <button type="submit" class="btn btn-primary" style="background:#038767; color:#fffefe; border:none">Save AuditCard</button>
  </form>


  {% endif %}


</div>




<div class="spacer" id="container-spacer" style="padding-bottom: 30px;">
</div>
</body>

{% endblock %}

