{% extends "base.html" %}

{% block title %}
  <title>Model Metadata</title>
{% endblock %}

{% block content %}
<body id="ModelMetadataPage">

<div class="container" style="padding-top:65px;">
</div>
  
{% include "include/model/model_subnav.html" %}
  

<br>
<div class="container" style="padding-top:50px;">


<!---- Model version table -------->
<div class="container">
    <div class="page-header">
      <h2>{{metadata.model_name}}:{{metadata.model_version}}</h2>
    </div>
</div>
<br>

<!---- Form for selecting team -------->
<div class="container">
  <!---- Form for selecting team -------->
  <form method="get" action="/opsml/models/versions/">
      <div class="form-group" style="WIDTH:150px;">
          <select class="form-control" name="uid" onchange="this.form.submit()">
              <option value="none">Select Version</option>
  
              {% for version in versions %}
                  <option value={{version["uid"]}}>{{version["version"]}}</option>
              {% endfor %}
          </select>
  </form>
  </div>







<hr>
<div class="page-header" id="metadata-container">

<div class="card text-center rounded m-1" id="metadata-table-header">
    <div class="card-body">
      <h5 class="card-title" id="Metadata">Metadata</h5>
    </div>
</div>

<div>
<table class="table table-striped table-hover table-sm">
    <tbody>
        {% with metadata=metadata %}
        {% include "include/model/metadata_table.html" %}
        {% endwith %}
    </tbody>
    </table>
</div>
<br>
<hr>
<div class="page-header" id="feature-container">

    <div class="card text-center rounded m-1" id="metadata-table-header">
        <div class="card-body">
          <h5 class="card-title" id="Features">Features</h5>
        </div>
    </div>

    <div>
    <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Shape</th>
              </tr>
            </thead>
            <tbody>
                {% for name, data_schema in metadata["data_schema"]["input_data_schema"].items() %}
                <tr>
                    <td>{{name}}</td>
                    <td>{{data_schema["feature_type"]}}</td>
                    <td>{{data_schema["shape"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<hr>
<div class="page-header" id="code-container">
<h3 id="Example">Load Model</h3>
<pre><code class="python">from opsml.registry import CardRegistry

model_registry = CardRegistry("model")
modelcard = model_registry.load_card(uid={{model_uid}})
modelcard.load_trained_model() # load the train model

modelcard.model # access the model
</code></pre>
</div>


</body>

{% endblock %}