{% extends "base.html" %}

{% block title %}
  <title>Model Metadata</title>
{% endblock %}

{% block content %}
<body id="ModelMetadataPage">

<div class="container" style="padding-top:65px;">
</div>
  
{% include "include/model/model_subnav.html" %}
  

<br>
<div class="container" style="padding-top:50px;">


<!---- Model version table -------->
{% if metadata is not none %}
<div class="container">
    <div class="page-header">
      <h2>{{metadata.model_name}}:{{metadata.model_version}}</h2>
    </div>
</div>
<br>
{% endif %}



<!---- Form for selecting team -------->
<div class="btn-group">
    <div class="dropdown" id="MetadataTeamSelect">
      <a class="btn dropdown-toggle m-1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
        
        {% if selected_team is not none %}
          {{selected_team}}
        {% else %}
          Select Team
        {% endif %}

      </a>
    
      <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink">
        {% for team in teams %}
          <a class="dropdown-item" href="/opsml/models/metadata/?team={{team}}">{{team}}</a>
        {% endfor %}
      </div>
    </div>

    <div class="dropdown" id="MetadataTeamSelect">
      <a class="btn dropdown-toggle m-1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
        
        {% if selected_model is not none %}
          {{selected_model}}
        {% else %}
          Select Model
        {% endif %}
  
      </a>
      <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink">
        {% if models is not none %}
          {% for model in models %}
            <a class="dropdown-item" href="/opsml/models/metadata/?team={{selected_team}}&model={{model}}">{{model}}</a>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="dropdown" id="MetadataTeamSelect">
      <a class="btn dropdown-toggle m-1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
        {% if version is not none %}
          {{version}}
        {% else %}
          Select Version
        {% endif %}
      </a>
    
      <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink">
        {% if versions is not none %}
          {% for version in versions %}
            <a class="dropdown-item" href="/opsml/models/metadata/?team={{selected_team}}&model={{selected_model}}&version={{version}}">{{version}}</a>
          {% endfor %}
        {% endif %}
      </div>
    </div>

</div>

{% if metadata is not none %}
<hr>


<div style="width: 100%;">
  <div style="width: 12%; float: left;"> 

    <div class="form-check form-switch" style="width:15%;">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-bs-toggle="collapse" data-bs-target="#Metadata">
      <label class="form-check-label" for="flexSwitchCheckDefault">Metadata</label>
  
      <div></div>

      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-bs-toggle="collapse" data-bs-target="#Features">
      <label class="form-check-label" for="flexSwitchCheckDefault">Features</label>
  
      <div></div>

      {% if metrics is not none %}
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-bs-toggle="collapse" data-bs-target="#Metrics">
      <label class="form-check-label" for="flexSwitchCheckDefault">Metrics</label>
      {% endif %}

    </div>
  </div>
  <div style="width: 85%;"> 

    <div class="collapse" id="Metadata" style="width:85%; float:right;">
      <div class="content">
        <table class="table table-striped table-hover table-sm" id="metadata-table">
          <caption>Metadata</caption>
            <tbody>
                {% with metadata=metadata %}
                {% include "include/model/metadata_table.html" %}
                {% endwith %}
            </tbody>
            </table>
        </div>
    </div>

    <div class="collapse" id="Features" style="width:85%; float:right;">
      {% set input_schema= metadata["data_schema"]["input_data_schema"] %}
        {% if input_schema is not none %} 
        <table class="table table-striped table-hover table-sm" id="feature-table">
          <caption>Features</caption>
            <thead style="background:white;">
              <tr>
                <th class="text-center" scope="col">Name</th>
                <th class="text-center" scope="col">Type</th>
                <th class="text-center" scope="col">Shape</th>
              </tr>
            </thead>
            <tbody>
                  {% for name, data_schema in input_schema.items() %}
                    <tr>
                      <td class="text-center">{{name}}</td>
                      <td class="text-center">{{data_schema["feature_type"]}}</td>
                      <td class="text-center">{{data_schema["shape"]}}</td>
                    </tr>
                  {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>


    {% if metrics is not none %}
    <div class="collapse" id="Metrics" style="width:85%; float:right;">
      <table class="table table-striped table-hover table-sm" id="feature-table" style="float:right; z-index:10;">
          <caption>Metrics</caption>
          <thead style="background:white;">
            <tr>
              <th class="text-center" scope="col">Name</th>
              <th class="text-center" scope="col">Value</th>
              <th class="text-center" scope="col">Step</th>
              <th class="text-center" scope="col">Timestamps</th>
            </tr>
          </thead>
          <tbody>
                {% for metric_name, metric_values in metrics.items() %}
                  <tr>
                    <td class="text-center">{{metric_name}}</td>
                    <td class="text-center">{{metric_values[-1].value}}</td>
                    <td class="text-center">{{metric_values[-1].step}}</td>
                    <td class="text-center">{{metric_values[-1].timestamp}}</td>
                  </tr>
                {% endfor %}
          </tbody>
        </table>
    </div>
    {% endif %}

    <div class="page-header" id="code-container" style="width:85%; float:right;">
      <h3 id="Example">Load Model</h3>
      <pre><code class="python">from opsml.registry import CardRegistry
      
model_registry = CardRegistry("model")
modelcard = model_registry.load_card(name="{{metadata.model_name}}", version="{{metadata.model_version}}")
modelcard.load_trained_model() # load the train model

# run predictions on trained model
print(modelcard.trained_model.predict(modelcard.sample_input_data))

# onnx version of model (if converted to onnx) if you want to play around with it
onnx_model = modelcard.onnx_model()
print(onnx_model.predict(onnx_model.sample_api_data))
      </code></pre>
      {% endif %}
      </div>

  </div>
</div>











  <div class="spacer" id="container-spacer" style="padding-bottom: 30px;">
  </div>
</body>

{% endblock %}
