<div class="container" style="padding-top:50px;">
    <div class="row">
    <h5 class="display-8">Select a repository to view available artifacts</h5>
    </div>
  <div>
      <select class="dropdown" id="MetadataRepositoriesSelect">
        <option value="0">Select a repository</option>
      </select>
  </div>
  <br>
</div>
<br>
<!---- Form for selecting model -------->
<div class="container">
    <div class="repository-header">
      <!---- <h2>{{selected_repository}}</h2> ---->
    </div>
</div>
<br>
<div class="artifact-container">
  <div class="row row-cols-md-5">
      <div id="artifact-card-div",class="col-12">
      </div>
  </div>
</div>