<div class="container" style="padding-top:50px;">
    <div class="row">
    <h5 class="display-8">Select a repository to view available artifacts</h5>
    </div>
  <div>
      <select class="dropdown" id="RepositoriesSelect">
        <option value="0">Select a repository</option>
      </select>
  </div>

  <br>

  <!---- Form for selecting model -------->
  <div class="container">
      <div class="repository-header" id="repository-header" >
        <!---- <h2>{{selected_repository}}</h2> ---->
      </div>
  </div>
  <br>
  <div class="model-container">
    <div class="row row-cols-md-5" id="artifact-card-div">
    </div>
  </div>
</div>