
<div class="container-fluid" style="padding-top:50px;" id="VersionContainer">
    <div class="row">
      <h5 class="display-8">Available Versions</h5>
    </div>
</div>

<!---- Model version table -------->
<div class="container-fluid" id="VersionContainer">
    <div class="page-header" id="version-header">
      <!-- Model name here  <h2>name</h2> -->
    </div>
</div>

<br>
<div class"containter" id="split-column">
  <!---Create vesion tables ------>
  <div class="boxes" id="VersionContainer">
    <div id="VersionColumn">
      <div class="list-group" id="version-list">
      </div>
    </div>

    <div id="MetadataColumn">
      <div class="card" style="width:100%;">
        <div class="card-body">
          <h4 id="card-tab-box"></h4>
        </div>

        <div class="card border-0" id="CardBox" style="width:100%;">
          <div id="insert-metadata"></div> <!-- this is different for each card style -->
        </div>

        <div class="card border-0" id="TagBox" style="width:100%; display: none;">
          <div id="insert-tags"></div>
        </div>

        <hr id="version-spacer">

        <div class="card border-0" id="ExtraBox" style="width:100%; display: none;">
          <div id="insert-extra"></div>
        </div>

        <div class="card border-0" style="display: None; width:100%;" id="SummaryBox">
          <div id="insert-summary"></div>
        </div>
      </div>
    </div>
  </div>
</div>
      

