


<!---- Model version table -------->
<div style="padding-top:20px;">
  <div class="container-fluid" id="VersionContainer">
      <div class="page-header">
        <h2 id="version-header"></h2>
      </div>
  </div>

  <div class"containter" id="split-column">
     <!---Create vesion tables ------>
    <div class="boxes" id="VersionContainer">
      <div id="VersionColumn">
        <div class="list-group" id="version-list">
        </div>
      </div>

      <div id="MetadataColumn">
        <div class="card border-0" style="width:100%;">
          <div class="card-body", id="MetadataHeader">
          </div>
        </div>
        <div class="card border-0" id="CardBox" style="width:100%;">
          <hr id="version-spacer">
            <div class="card-body" id="CardMetadata">
            </div>
        </div>
        <div class="card border-0" id="TagBox" style="width:100%;">
          <hr id="version-spacer">
            <div class="card-body" id="CardTags">
            </div>
        </div>
        <hr id="version-spacer">
        <div class="card border-0" id="ExtraBox" style="width:100%;">
          <div class="card-body" id="CardExtra">
            <div class="card-body" id="CardButtons">
            </div>
            <div class="card-body" id="MetadataJson" >
              <h5><i class="fa-solid fa-table" style="color:#04b78a"></i> <font color="#999">Metadata</font>
                <clipboard-copy for="MetadataCode">
                  Copy
                  <span class="notice" hidden>Copied!</span>
                </clipboard-copy>
              </h5>
                <pre><code id="MetadataCode" class="python"></code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
