<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-sm-6 col-md-2 item" align="center">
                    <h3>Additional Info</h3>
                    <ul>
                        <li><a href="#">Github</a></li>
                        <li><a href="#">Contributing</a></li>
                        <li><a href="#">Attributions</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>
</div>