<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/scripts/dist/main.css">
</head>


<!-- navbar component --> 
{% include "include/components/navbar.html" %}
<!-- main page component --> 


<body id="ArtifactPage">

  <div id="registry" value="{{ registry }}" style="display: none;"></div>
  <div id="name" value="{{ name }}" style="display: none;"></div>
  <div id="repository" value="{{ repository }}" style="display: none;"></div>
  <div id="version" value="{{ version }}" style="display: none;"></div>

  <div>
    <a id="attribution-button" class="btn btn-success active" href="/opsml/ui/attribution" >Attributions</a>
  </div>

    <div id="run-version-page" class="version-page" style="display: none;">
      {% include "include/components/model/run.html" %}
    </div>
 

    <div class="container" id="subnav" style="padding-top:65px; display: none;"></div>
    {% include "include/components/subnav.html" %}

    <!-- repository page --> 
    <div id="repository-page" style="display: none;">
      {% include "include/components/repository_select.html" %}
    </div>
    

    <!-- Model, Data, Run Pages -->
    <div id="model-version-page" class="version-page" style="display: none;">
      {% include "include/components/model/version.html" %}
    </div>

    <!-- Model, Data, Run Pages -->
    <div id="data-version-page" class="version-page" style="display: none;">
      {% include "include/components/data/version.html" %}
    </div>

    <!-- Model, Data, Run Pages -->
    <div id="audit-version-page" class="version-page" style="display: none;">
    </div>

 
</body>

<script src="/static/scripts/dist/bundle.js"></script>

</html>