{% extends "include/base.html" %}

<!-- navbar component --> 
{% include "include/components/navbar.html" %}

<!-- main page component --> 

{% block content %}

<body id="ModelPage">
  <div class="container" style="padding-top:65px;"></div>
  <div id="page-content">

    <!-- repository page --> 
    <div id="repository-page" style="display: none;">
          <!-- subnav --> 
          {% include "include/components/subnav.html" %}
        <br>
          {% include "include/components/repository_select.html" %}
        <br>
    </div>
  </div>
  <!-- Model, Data, Run Pages -->
</body>

{% endblock %}




{% block scripts %}

<script src="/static/chart/highcharts.js"></script>
<script src="/static/chart/modules/data.js"></script>
<script src="/static/chart/modules/series-label.js"></script>
<script src="/static/chart/modules/exporting.js"></script>
<script src="/static/chart/modules/export-data.js"></script>
<script src="/static/chart/modules/accessibility.js"></script>
<script type="module">
  import { 
    generate_html_from_data, 
    ready_project_page, 
    call_graphics, 
    call_metadata, 
    ready_project_toggles, 
    ready_project_buttons, 
    get_metrics,
    get_repo_names_page
  } from '/static/js/utils.js';
  import {ready_nav} from '/static/js/nav.js';


  $(document).ready( function() {
    let registry = "{{ registry }}";
    let name   = "{{ name }}";
    let repository = "{{ repository }}";
    let version = "{{ version }}";

    // Repository dropdown
    $('#MetadataRepositoriesSelect').select2();
    $("#MetadataRepositoriesSelect").on('select2:select', function(e){
      window.location.href = e.params.data.id;
    });

    // if vars are passed, get specific page
    if (registry != "None" && name != "None" && repository != "None" && version != "None"){
      // get specific page
      // pages can be:
        // 1. model page
        // 2. data page
        // 3. run page
        // 4. audit
      get_artifact_page(registry, name, repository, version);
      
    // return default model page
    } else {

      // get all artifacts
      $("#repository-page").show();

      // make nav-models active
      $("#nav-models").addClass("active");
      $("#available").addClass("active");

      // if repository is none, set it to null
      if (repository == "None"){
        repository = undefined;
      }
      get_repo_names_page('model', repository);
      }
    }

  

  
  );

  ready_nav();

</script>

{% endblock %}