<hr id="version-spacer">

<div class="card-body" style="min-height:1000px;">
    <div class="card-body" id="GraphicsDisplay">
        <table align="left" class="no-spacing" cellspacing="0" id="VersionTable">
            <colgroup>
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 50%;">
            </colgroup>
            <tbody>
            <div id="GraphContainer">
                <span> {{ text }}</span>
            </div>
            </tbody>
        </table>
    </div>
</div>