@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Boing;
    src: url("./fonts/custom/medium.otf") format("opentype");
    font-style: normal;
    font-weight: medium;
    }
  
    
@font-face {
    font-family: Boing;
    src: url("./fonts/custom/bold.otf") format("opentype");
    font-style: normal;
    font-weight: bold;
    }