

@font-face {
    font-family: Boing;
    src: url("./fonts/medium.otf") format("opentype");
    font-style: normal;
    font-weight: medium;
    }
  
    
@font-face {
    font-family: Boing;
    src: url("./fonts/bold.otf") format("opentype");
    font-style: normal;
    font-weight: bold;
    }


body {
    font-family: Boing;
    font-weight: normal;
    background-image: url( '../images/opsml-background2.svg' );
    min-height: 100vh;
}

#ArtifactPage {
    font-family: Boing;
    font-weight: medium;
    background: #fafafa;
    background-image: url('../images/opsml-background2.svg');
    background-attachment:fixed;
    background-position: right center;
    background-repeat: no-repeat;
}


.model-metadata {
  margin-left: 1%;
}


p {
    font-family: Boing;
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    margin:0;
}


#SummaryText {
  font-family: Boing;
  font-weight: 100;
  color: #000000;
  margin:0;
}


#VersionListContainer, #MetadataColumn {
  overflow: auto;
}

#VersionColumn {
  float:left;
  max-width:20%;
  min-width:10%;
  padding-right: 1%;
  font-size: 15px;
}

#MetadataColumn {
  min-width:68%;
  padding-left: .6%;
  padding-right: 1%;
  padding-bottom: 10%;
}



#CardBox,
#SummaryBox,
#ProfileBox {
  float:left;
  width:80%;
}


#VersionTabBox {
  float:left;
}

#CardTags{
  padding: 0px;
  margin: 0px;
}

#CardMetadata {  
  padding-top: 0px;
}

#TagBox,
#CardMetadata,
#CardUpperBox {  
  padding-bottom: 0px;
}


#VersionTable td {
  border: none;
}

#VersionTable.no-spacing {
  border-spacing:2; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}

  
#MainNav  {
    background: rgb(75, 57, 120);
    box-shadow:  0 4px 0 0 black;
    color: white !important;
    width: 100%;
    position: fixed;
    z-index: 4;
    
    
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

#MainNav .active {
    color:            #F8F8F8;
    border-bottom: 1px solid rgb(26, 255, 163);
    bottom: -10px;
    z-index: 4;
}

#MainNav .focus {
  color:            #F8F8F8;
  border-bottom: 1px solid rgb(26, 255, 163);
  bottom: -10px;
  z-index: 4;
}


#ModelSubnav {
    color: black !important;
    width: 100%;

}

#DataSubnav {
  background: #fafafa;
  color: black !important;
  width: 100%;
  position: fixed;
  z-index: 4;

}


#audit-choose-button.btn-success {
  color: #FFF;
  background: #5e0fb7;
  border: 2px solid #5e0fb7;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 40px;
  transition: all 0.3s ease 0s;

}

#audit-upload-button.btn-success {
  color: #FFF;
  background: #04b78a;
  border: 2px solid #04b78a;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 40px;
  transition: all 0.3s ease 0s;

}


.header-button {
  font-size: 13px;
  color: #04b78a;
  letter-spacing: 1px;
  line-height: 15px;
  min-height: 2.2em;
  min-width: 6em;
  border: 2px solid #04b78a;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.header-button:hover {
  color: #FFF;
  background: #04b78a;
  border: 2px solid #04b78a;
}

.header-button:active {
  color: #FFF;
  background: #04b78a;
  border: 2px solid #04b78a;
}

.header-button:focus {
  color: #FFF;
  background: #04b78a;
  border: 2px solid #04b78a;
}

#RepositoriesSelect .dropdown-toggle {
    background:#04b78a;
    color:#fffefe !important;
  }



.dropdown-item:active {
  background-color: #04b78a;
  }


#ProjectSelect .dropdown-toggle {
  color: #FFF;
  background: #04b78a;
  border: 2px solid #04b78a;
}

#CardExtra{
  padding: 0px;
  margin: 0px;
}

#CardButtons{
  padding: 5px;
  margin: 5px;
}

#version-spacer {
  padding: 0px;
  margin: 0px;
  padding-bottom: 10px !important;
}

#page-spacer {
  padding: 1%;
  margin: 1%;
}

#version-spacer-metadata {
  padding: 0px;
  margin: 0px;
}

#VersionListContainer,
#VersionContainer {
  padding-left: 2.5%;
  padding-right: 2.5%;
}


#VersionRow {
  flex: 1;
}


#VersionTabContainer {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 1.7%;

}

#metadata-table.table-striped>tbody>tr:nth-child(odd)>td, 
#metadata-table.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: white; 
 }


 #metadata-table.table-striped>tbody>tr:nth-child(even)>td, 
 #metadata-table.table-striped>tbody>tr:nth-child(even)>th {
   background-color: rgb(255, 255, 255); 
 }

#feature-table.table-striped>tbody>tr:nth-child(odd)>td, 
#feature-table.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: white; 
 }


 #feature-table.table-striped>tbody>tr:nth-child(even)>td, 
 #feature-table.table-striped>tbody>tr:nth-child(even)>th {
   background-color: rgb(255, 255, 255); 
 }

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    z-index: 2;
}

.card-header {
    background-color: #241239;
}

#artifact-card-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20%);
  column-gap: 3%;
  row-gap: 12%;
  min-width: 10%;
}

#artifact-card:hover{
    transform: scale(1.05);
    box-shadow:  -8px 8px 0 0 black;
}

#artifact-card {
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
    border-radius: 25px !important;
    box-shadow:  -8px 8px 0 0 black;
    min-width: 20%;
  
    
    
}

#meta-column {
  box-shadow:  -8px 8px 0 0 black;
  border-radius: 25px !important;
}



#comment-card {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}



#homepage-cards {

    background: url('../images/opsml-logo.png');
    z-index: 2;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }



 

  #metadata-table-header {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    height: 60px;
    background: #24123961;
    

  }

  

.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
    background-color: #5e0fb7;
    border-color: #5e0fb7;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.form-check-input:checked {
  background-color: #5e0fb7;
  border-color: #5e0fb7;
}


#project-button.btn-success {
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid #5e0fb7;
  border-radius: 40px;
  background: #5e0fb7;
  transition: all 0.3s ease 0s;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}


/* ---------------------------------------------------
    Footer
----------------------------------------------------- */


.footer-dark {
    padding:20px 0;
    color:#f0f9ff;
    background-color:#333333;
    position:fixed;
    left:0x;
    bottom:0px;
    height:130px;
    width:100%; 
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  

  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #5d0fb745;
    box-shadow: none;
}

.accordion-button.collapsed {
  box-shadow: none;
}

#split-spacer{
  padding-bottom: 10%;
}

clipboard-copy {
  -webkit-appearance: button;
  -moz-appearance: button;
  padding: 0.4em 0.6em;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  cursor: default;
  color: #5e0fb7;
  background: transparent;
  border-radius: 40px;
  border: 2px solid #5e0fb7;
  box-shadow: rgba(31, 35, 40, 0.04) 0 1px 0 0, rgba(255, 255, 255, 0.25) 0 1 0 0 inset;
}

clipboard-copy:hover {
  color: #FFF;
  background: #5e0fb7;
  border: 2px solid #5e0fb7;
}

clipboard-copy:active {
  background: #ffffff;
}
clipboard-copy:focus-visible {
  outline: 2px solid #5e0fb7;
}

.select2.select2-container {
  min-width: 25% !important;
  max-width: 30% !important;
}

.select2.select2-container .select2-selection {
  border: 1px solid #ccc;
  border-radius: 1%;
  height: 4vh;
  max-height: 8vh;
  margin-bottom: 1vh;
  outline: none !important;
  transition: all .15s ease-in-out;
}

.select2-container .select2-dropdown {
  background: transparent;
  border: none;
  margin-top: -1vh;
}

.select2-container .select2-dropdown .select2-search {
  padding: 0;
}

.select2-container .select2-dropdown .select2-search input {
  outline: none !important;
  border-bottom: none !important;
}

.select2-container .select2-dropdown .select2-results {
  padding: 0;
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #34495e;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #9366c7;
}



#GraphContainer {
  column-count: 2; /* speciifes that the content inside the container should be divided into three columns */
  column-gap: 1rem;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.graph-child {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  break-inside: avoid; /* ensures that each child element stays within a single column */
  padding: 0.5rem;
  overflow-x: auto;
}


#GraphicsContainer {
  column-count: 3; /* speciifes that the content inside the container should be divided into three columns */
  column-gap: 1rem;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  display: flex; 
  flex-wrap: wrap;
}

.graphics-child {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  width: 350px;
  height: 350px;
  box-sizing: border-box;
  break-inside: avoid; /* ensures that each child element stays within a single column */
  padding: 0.5rem;
  overflow-x: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2%;
}

.graphics-child img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #5d0fb7 #5d0fb7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #04b78a #04b78a transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.modal-dialog {
  max-width: max-content !important;
}

.modal-body {
  display: flex;
}

.modal-body img {
  object-fit: contain;
}

.modal-header {
  display: flex; 
}


pre { 
  overflow-x: auto; 
  background-color: #f4f4f4;
}


#attribution-button {
  position: fixed;
  bottom: 3px;
  right: 10px;
  font-size: 13px;
  color: #929292;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid #929292;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

#header {
  display: flex;
  align-items: center; /* Vertical align the elements to the center */
}

#metric-card-footer {
  display: flex;
  align-items: left; /* Vertical align the elements to the center */
}


.version-toggle {
  margin-left: 0.5em;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  margin-top: 0.1em;
  color: #04b78a;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid #04b78a;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.version-toggle i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.version-toggle:hover,
.version-toggle:active,
.version-toggle:focus {
  color: #FFF;
  background: #04b78a;
  border: 2px solid #04b78a;
}


#MetricContainer, #PlotColumn {
  min-height: 55vh;
  max-height: 90%;
  margin-bottom: 2vh;
  overflow: auto;
}

#MetricSelectColumn {
  float:left;
  min-width: 15%;
  max-width: 20%;
  min-height: 20%;
  max-height: 50%;
  overflow-x: scroll;
  overflow-y: scroll;
  margin-left: 5%;
  margin-right: 1%;
  box-shadow:  -0.5vw 0.5vw 0 0 black;
  border-radius: 25px !important;
  border-color: #000000;
}

#PlotColumn {
  padding-left: 1%;
}

#PlotCard {
  min-width: 30%;
  max-width: 90%;
  box-shadow:  -0.5vw 0.5vw 0 0 black;
  border-radius: 25px !important;
  border-color: #000000;
  margin-bottom: 3%;
  margin-left: 3%;
}

#MetricChart {
  margin-top: 3%;
  margin-left: 2%;
  min-height: 30%;
  max-height: 50%;
  min-width: 30%;
  max-width: 95%;

}



#metric-card-header {
  background: rgb(75, 57, 120);
  color: white !important;
  text-align: center;
}

#metric-card-block {
  text-align: left;
  padding-left: 4%;
  margin-top: 0%;
  padding-top: 0%;
  overflow-x: scroll;
  overflow-y: scroll;
}

#submit-bar-plot,
#submit-step-plot
 {
  width: 50%;
  text-align: center;
  padding-top: 1%;
}


#submit-bar-plot {
  border-right: solid 1px white;
}

#metric-card-footer {
  padding: 0px;
  height: 4vh;
}

.metric-card-button {
  color: #04b78a;
  background: white;
  transition: all 0.3s ease 0s;
}

.metric-card-button:hover,
.metric-card-button:active,
.metric-card-button:focus,
.metric-card-button:visited {
  color: #FFF;
  background: #04b78a;
}

.metric-button-color {
  color: #FFF;
  background: #04b78a;
}


#ProfileBox {
  margin-bottom: 2%;
}

#data-profile-html {
  min-height: 150vh;
  max-height: 200vh;
}

.list-group {
  -webkit-overflow-scrolling: touch;
  overflow-y:scroll; 
  height: 700px;
}

#version-link.active {
  background-color: rgb(75, 57, 120);
  border-color: #5e0fb7;
  border: none;
  color: white;
}

#navbar-logo {
  content: url('../images/opsml-logo.png');
  width: 40px;
  height: 40px;
}

#artifact-card-center {
  content: url('../images/chip.png');
}

#RepositoryContainer {
  margin-left: 5%;
}


.header-tab {
  font-size: 14px;
  color: rgb(85, 85, 85);
  letter-spacing: 1px;
  line-height: 15px;
  min-height: 3em;
  min-width: 7em;
  background: #f1f1f1;
  transition: all 0.3s ease 0s;
  border: none;
  border-top: 2px solid #ffffff;
}


.header-tab:hover,
.header-tab:active,
.header-tab:focus,
.header-tab:selected {
  background: #ffffff;
  color: #04b78a;
  border-top: 2px solid #04b78a;
}

#CardTabBox {
  margin-top: 1%;
  display: flex;
}

.extra-tab {
  font-size: 14px;
  color: rgb(85, 85, 85);
  letter-spacing: 1px;
  line-height: 15px;
  min-height: 3em;
  min-width: 7em;
  background: #f1f1f1;
  transition: all 0.3s ease 0s;
  border: none;
  border-top: 2px solid #ffffff;
}

.extra-tab:hover,
.extra-tab:active,
.extra-tab:focus,
.extra-tab:selected {
  background: #ffffff;
  color: #5e0fb7;
  border-top: 2px solid #5e0fb7;
}


