<hr id="version-spacer">
<div class="card-body content" id="CardMetadata">
<div class="table-responsive">
  <table align="left" class="no-spacing" cellspacing="0" id="VersionTable">
    <colgroup>
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 60%;">
  </colgroup>
    <tbody>
      <tr>
        <td><i class="fa fa-id-card" style="color:#04b78a"></i></td>
        <td><font color="#999">ID:</font></td>
        <td id='metadata-uid'></td>
      </tr>

      <tr>
        <td><i class="fa fa-id-card" style="color:#04b78a"></i></td>
        <td><font color="#999">Name:</font></td>
        <td id='metadata-name'></td>
      </tr>

      <tr>
        <td><i class="fa fa-id-card" style="color:#04b78a"></i></td>
        <td><font color="#999">Version:</font></td>
        <td id='metadata-version'></td>
      </tr>

      <tr>
        <td><i class="fa fa-users" style="color:#04b78a"></i></td>
        <td><font color="#999">Repository:</font></td>
        <td id='metadata-repo'></td>
      </tr>
  

      <tr>
        <td><i class="fa-solid fa-brain" style="color:#04b78a"></i></td>

        {% if registry == 'model' %}
          <td><font color="#999">Model Interface:</font></td>
          {% else %}
          <td><font color="#999">Data Interface:</font></td>
        {% endif %}
        <td id='metadata-interface'></td>
      </tr>


      <tr>
        <td><i class="fa fa-file" style="color:#04b78a"></i></td>

        {% if registry == 'model' %}
          <td><font color="#999">Model Type:</font></td>
          {% else %}
          <td><font color="#999">Data Type:</font></td>
        {% endif %}
        <td id='metadata-type'></td>
      </tr>

      {% if registry == 'model' %}
        <tr id="onnx-uri-display" style="display: none;">
          <td><i class="fa-solid fa-download" style="color:#04b78a"></i></td>
          <td><font color="#999">Onnx Model:</font></td>
          <td>
            <a id='onnx-uri'>
              <button id="download-button" type="submit" class="btn btn-success" >Download</button>
            </a>
        </td>
        </tr>

        <tr>
          <td><i class="fa-solid fa-download" style="color:#04b78a"></i></td>
          <td><font color="#999">Trained Model:</font></td>
          <td>
              <a id='model-uri'>
                <button id="download-button" type="submit" class="btn btn-success" >Download</button>
              </a>
          </td>
        </tr>

        <tr id="preprocessor-uri-display" style="display: none;">
          <td><i class="fa-solid fa-download" style="color:#04b78a"></i></td>
          <td><font color="#999">Preprocessor:</font></td>
          <td>
            <a id='preprocessor-uri'>
              <button id="download-button" type="submit" class="btn btn-success" >Download</button>
            </a>
        </td>
        </tr>

        <tr id="tokenizer-uri-display" style="display: none;">
          <td><i class="fa-solid fa-download" style="color:#04b78a"></i></td>
          <td><font color="#999">Tokenizer:</font></td>
          <td>
            <a id='tokenizer-uri'>
              <button id="download-button" type="submit" class="btn btn-success" >Download</button>
            </a>
        </td>
        </tr>

        <tr id="feature-extractor-uri-display" style="display: none;">
          <td><i class="fa-solid fa-download" style="color:#04b78a"></i></td>
          <td><font color="#999">Tokenizer:</font></td>
          <td>
            <a id='feature-extractor-uri'>
              <button id="download-button" type="submit" class="btn btn-success" >Download</button>
            </a>
        </td>
        </tr>

        <tr>
          <td><i class="fa-solid fa-link" style="color:#04b78a"></i></td>
          <td><font color="#999">AuditCard:</font></td>
          <td>
            <a id="audit-link">
              <button id="download-button" type="submit" class="btn btn-success" >Link</button>
            </a>
        </td>
        </tr>

        <tr id="datacard-uid-display" style="display: none;">
          <td><i class="fa-solid fa-link" style="color:#04b78a"></i></td>
          <td><font color="#999">DataCard:</font></td>
          <td>
            <a id="datacard-link" >
              <button id="download-button" type="submit" class="btn btn-success" >Link</button>
            </a>
        </td>
        </tr>

        <tr id="runcard-uid-display" style="display: none;">
          <td><i class="fa-solid fa-link" style="color:#04b78a"></i></td>
          <td><font color="#999">RunCard:</font></td>
          <td>
            <a id='runcard-link' >
              <button id="download-button" type="submit" class="btn btn-success" >Link</button>
            </a>
        </td>
        </tr>

      {% elif registy == 'data' %}
        <tr>
          <td><i class="fa-solid fa-download" style="color:#04b78a"></i></td>
          <td><font color="#999">Data:</font></td>
          <td>
              <a id='data-uri'>
                <button id="download-button" type="submit" class="btn btn-success" >Download</button>
              </a>
          </td>
        </tr>

        <tr id="data-profile" style="display: none;">
          <td><i class="fa-solid fa-download" style="color:#04b78a"></i></td>
          <td><font color="#999">Data Profile:</font></td>
          <td>
            <a id='data-profile-uri'>
              <button id="download-button" type="submit" class="btn btn-success" >Download</button>
            </a>
          </td>
        </tr>
      {% endif %}
      
    </tbody>
  </table>
</div>
</div>

