<hr id="version-spacer">

<div class"containter" id="MetricContainer" >
  <div class="card" id="MetricSelectColumn">
    <div id="metric-card-header" class="card-header">Metrics</div>

    
      <form id="myForm" action="javascript:void(0);">
        <div id="metric-card-block" class="card-block">
        </div>

        <div id="metric-card-footer" class="card-footer">
          <div id="submit-bar-plot" data-value="bar" type="button" class="metric-card-button">Bar</div>
          <div id="submit-step-plot" data-value="step" type="button" class="metric-card-button">Step</div>
        </div>

      </form> 

  </div>
  
  <div id="PlotColumn">
    <div class="card" id="PlotCard">
      <figure class="highcharts-figure">
          <div id="MetricChart"></div>
      </figure>
    </div>
  </div>
</div>

  <p> 
    <div id = "result"> </div> 
  </p>
