

<div class="card-body">
  <a><button id="label-button" class="btn btn-success">Summary</button></a>

  <div id="summary-display" style="display: none;">
    <div id="summary-markdown">
    </div>
  </div>

  <div id="SummaryText" style="display: none;">
      <p id="summary-text">No summary provided</p>
  </div>
</div>
  
<hr id="version-spacer">

<div class="card-body">
  <a><button id="label-button" class="btn btn-success">Sample Code</button></a>

  <div id="SampleCode" style="display: none;">
      <p id="user-sample-code"></p>
  </div>

  <pre>
    <code id="opsml-sample-code">
    </code>
  </pre>

</div>
