

<hr id="version-spacer">
<div class="card-body">
  <a><button id="label-button" class="header-button">Summary</button></a>

  <div id="summary-display" style="display: none;">
    <div id="summary-markdown">
    </div>
  </div>

  <div id="SummaryText" style="display: none;">
      <p id="summary-text">No summary provided</p>
  </div>
</div>
  
<hr id="version-spacer">

<div class="card-body">

  <h5><i class="fa-solid fa-code" style="color:#04b78a"></i> <font color="#999">Sample Code</font>
    <clipboard-copy for="opsml-sample-code">
      Copy
      <span class="notice" hidden>Copied!</span>
    </clipboard-copy>
  </h5>

  <div id="SampleCode" style="display: none;">
      <p id="user-sample-code"></p>
  </div>

  <pre>
    <code id="opsml-sample-code">
    </code>
  </pre>

</div>
