<div class="card" style="width:100%;">
    <div class="card-body">
      <h4>Run: {{ runcard["name"] }}
        <div id="CardTabBox">
        <span><button id="metadata-button" type="submit" class="btn btn-success" >Metadata</button></span>
        <span><button id="metrics-button" type="submit" class="btn btn-success" >Metrics</button></span>
        <span><button id="graphs-button" type="submit" class="btn btn-success" >Graphs</button></span>
        <span><button id="graphics-button" type="submit" class="btn btn-success" >Graphics</button></span>
        </div>
      </h4>
    </div>
    <div id="metadata-run-id" data-runid="{{ runcard["uid"] }}" style="display: None;"></div>

    <div class="card border-0" id="CardBox" style="width:100%;">
      {% include "include/project/run_metadata.html" %}
    </div>

    {% if runcard["tags"]|length > 0 %}
    <div class="card border-0" id="TagBox" style="width:100%;">
      {% include "include/model/model_tags.html" %}
    </div>
    {% endif %}

    <div class="card border-0" id="ExtraBox" style="width:100%;">
      {% include "include/project/runcard_extras.html" %}
    </div>

    <div id="PlotBox" class="card border-0" style="display: None; width: 100%; border-radius: 0%;">
        {% include "include/project/metric_plots.html" %}
    </div>

    <div id="GraphBox" class="card border-0" style="display: None; width: 100%; border-radius: 0%;">
      graphbox placeholder
    </div>

    <div id="GraphicsBox" class="card border-0" style="display: None; width: 100%; border-radius: 0%;">
      <div id="Insert">
        <span class="loader"></span>
        <B>Loading Graphics...<B>
      </div>
    </div>
</div>



