{% extends "base.html" %}


{% set model_status = none %}
{% set data_status = none %}
{% set runs_status = 'active' %}
{% set audit_status = none %}
{% include "include/navbar.html" %}

{% block title %}
  <title>Runs</title>
{% endblock %}

{% block content %}
<body id="RunPage">
<div class="container" style="padding-top:65px;">
</div>

<br>
<h5 style="padding-top:10px; padding-left:40px;">Select a project to view available runs</h5>

<div style="padding-top:2px; padding-left:40px;">
   
  <select class="dropdown" id="MetadataRepositoriesSelect" style="visibility:hidden;">
    
      {% if all_projects is not none %}

        {% for project in all_projects %}
        <option value="/opsml/projects/list/?project={{ project }}" {% if project == selected_project %} selected="selected" {% endif %}>{{ project }}</option>
        {% endfor %}
      {% else %}
      <option value="None">No project found</option>
      {% endif %}
  </select>

</div>


{% if runcard is not none %}
<div class"containter" id="split-column">
  <div class="boxes" id="VersionContainer">

    <div id="VersionColumn">
      <div class="list-group">
        {% for run in project_runs %}
          <a href="/opsml/projects/list/?project={{ selected_project }}&run_uid={{ run["uid"] }}" class="list-group-item list-group-item-action {% if runcard["uid"] ==  run["uid"] %}active {% endif %}">{{ run["name"] }} -- {{ run["date"] }}</a>
        {% endfor %}
      </div>
    </div>

    <div id="MetadataColumn">
    </div>

    <div id="ImageModal" class="modal">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ImageModalLabel" style="float: left;">Artifact</h5>
            <a id="modal-download" href="placeholder">
              <button id="download-button" type="submit" class="btn btn-success">Download</button>
            </a>
          </div>
          <div class="modal-body">
       
            <img src="https://via.placeholder.com/500" id="modal_img">
          </div>
        </div>
      </di>
    </div>


     
     

</div>
{% endif %}



</body>

{% endblock %}

{% block scripts %}





<script type="module">
  import { generate_html_from_data, ready_project_page, call_graphics} from '/static/js/utils.js';


  $(document).ready( ready_project_page );

 
  function get_graphics()
  {
    call_graphics({{ runcard['artifact_uris']|tojson }}) ;
  }
  document.getElementById("graphics-button").onclick = get_graphics;


 

</script>


{% endblock %}






