{% extends "base.html" %}


{% set model_status = none %}
{% set data_status = none %}
{% set runs_status = 'active' %}
{% set audit_status = none %}
{% include "include/navbar.html" %}

{% block title %}
  <title>Runs</title>
{% endblock %}

{% block content %}
<body id="RunPage">
<div class="container" style="padding-top:65px;">
</div>

<br>
<h5 style="padding-top:10px; padding-left:40px;">Select a project to view available runs</h5>

<div style="padding-top:2px; padding-left:40px;">
   
  <select class="dropdown" id="MetadataRepositoriesSelect" style="visibility:hidden;">
    
      {% if all_projects is not none %}

        {% for project in all_projects %}
        <option value="/opsml/projects/list/?project={{ project }}" {% if project == selected_project %} selected="selected" {% endif %}>{{ project }}</option>
        {% endfor %}
      {% else %}
      <option value="None">No project found</option>
      {% endif %}
  </select>

</div>


{% if runcard is not none %}
<div class"containter" id="split-column">
  <div class="boxes" id="VersionContainer">

    <div id="VersionColumn">
      <div class="list-group">
        {% for run in project_runs %}
          <a href="/opsml/projects/list/?project={{ selected_project }}&run_uid={{ run["uid"] }}" class="list-group-item list-group-item-action {% if runcard["uid"] ==  run["uid"] %}active {% endif %}">{{ run["name"] }} -- {{ run["date"] }}</a>
        {% endfor %}
      </div>
    </div>

    <div id="MetadataColumn">

      <div class="card" style="width:100%;">
        <div class="card-body">
          <h4>Run: {{ runcard["name"] }}
            <div id="CardTabBox">
            <span><button id="download-button" type="submit" class="btn btn-success" >Metadata</button></span>
            <span><button id="download-button" type="submit" class="btn btn-success" >Metrics</button></span>
            <span><button id="download-button" type="submit" class="btn btn-success" >Graphs</button></span>
            <span><button id="download-button" type="submit" class="btn btn-success" >Graphics</button></span>
          </div>
          </h4>
      </div>

      <div class="card border-0" id="CardBox" style="width:100%;">
        {% include "include/project/run_metadata.html" %}
      </div>

      {% if runcard["tags"]|length > 0 %}
      <div class="card border-0" id="TagBox" style="width:100%;">
        {% include "include/model/model_tags.html" %}
      </div>
      {% endif %}

      <div class="card border-0" id="ExtraBox" style="width:100%;">
        {% include "include/project/runcard_extras.html" %}
      </div>

      <div id="PlotBox" class="card border-0" style="display: None; width: 100%; border-radius: 0%;">
        {% include "include/project/metric_plots.html" %}
      </div>

     <div id="GraphBox" class="card border-0" style="display: None; width: 100%; border-radius: 0%;">
      {% include "include/project/graphs.html" %}
     </div>

     <div id="GraphicsBox" class="card border-0" style="display: None; width: 100%; border-radius: 0%;">
      <div id="Insert">
        <span class="loader"></span>
        <B>Loading Graphics...<B>
      </div>
     </div>

    
    <div id="exampleModal" class="modal">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="float: left;">Artifact</h5>
            <a id="modal-download" href="placeholder">
              <button id="download-button" type="submit" class="btn btn-success">Download</button>
            </a>
          </div>
          <div class="modal-body">
       
            <img src="https://via.placeholder.com/500" id="modal_img">
          </div>
        </div>
      </di>
    </div>


     
     

</div>
{% endif %}



</body>

{% endblock %}

{% block scripts %}


<script>

$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var uri = button.data('whatever') // Extract info from data-* attributes
  var name = button.data('name') // Extract info from data-* attributes
  var modal = $(this)


  modal.find('.modal-title').text(name)
  modal.find('#modal-download').attr('href', uri)
  modal.find('#modal_img').attr('src', uri)

})

</script>


<script type="module">
  import { generate_html_from_data } from '/static/js/utils.js';



$('.list-group-item').click(function() {
  $('.list-group-item').removeClass('active');
  $(this).addClass('active');
  var version_uid = $(this).attr('id');
  alert(id);
    // write javscript that will take the value of the active div on click and pass that value to another div
 });


 $('#CardTabBox > span').click(function() {
  var ix = $(this).index();
  
  $('#CardBox').toggle( ix === 0 );
  $('#TagBox').toggle( ix === 0 );
  $('#ExtraBox').toggle( ix === 0 );
  $('#PlotBox').toggle( ix === 1 );
  $('#GraphBox').toggle( ix === 2 );

  // if ix == 3 call localhost to get html
  if (ix == 3) {
    var uri_data = {{ runcard["artifact_uris"]|tojson }};
    var path = "/opsml/runs/graphics";
    generate_html_from_data(path, uri_data, "Insert");
  }

  $('#GraphicsBox').toggle( ix === 3 );
  
});

$(document).ready(function() {
  $('#MetadataRepositoriesSelect').select2();

  $("#MetadataRepositoriesSelect").on('select2:select', function(e){
    window.location.href = e.params.data.id;
  });
});

$( "#metric-button" ).on( "click", function() {
  $( "#Metrics" ).toggle();
} );

$( "#param-button" ).on( "click", function() {
  $( "#Params" ).toggle();
} );

$( "#artifact-button" ).on( "click", function() {
  $( "#Artifacts" ).toggle();
} );




</script>


{% endblock %}






