{% extends "base.html" %}


{% set model_status = none %}
{% set data_status = none %}
{% set runs_status = 'active' %}
{% set audit_status = none %}
{% include "include/navbar.html" %}

{% block title %}
  <title>Runs</title>
{% endblock %}

{% block content %}
<body id="RunPage">
<div class="container" style="padding-top:65px;">
</div>

<br>
<h5 style="padding-top:10px; padding-left:40px;">Select a project to view available runs</h5>

<div style="padding-top:2px; padding-left:40px;">
   
  <select class="dropdown" id="MetadataRepositoriesSelect" style="visibility:hidden;">
    
      {% if all_projects is not none %}

        {% for project in all_projects %}
        <option value="/opsml/projects/list/?project={{ project }}" {% if project == selected_project %} selected="selected" {% endif %}>{{ project }}</option>
        {% endfor %}
      {% else %}
      <option value="None">No project found</option>
      {% endif %}
  </select>

</div>


{% if runcard is not none %}
<div class"containter" id="split-column">
  <div class="boxes" id="VersionContainer">


    <div id="VersionColumn">
      <div class="list-group">
        {% for run in project_runs %}
          <a href="#" onclick="get_project('{{ run["uid"] }}', '{{ selected_project }}')"  class="list-group-item list-group-item-action {% if runcard["uid"] ==  run["uid"] %}active {% endif %}">{{ run["name"] }} -- {{ run["date"] }}</a>
        {% endfor %}
      </div>
    </div>

    <div id="MetadataColumn">
    </div>

    <div id="ImageModal" class="modal">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ImageModalLabel" style="float: left;">Artifact</h5>
            <a id="modal-download" href="placeholder">
              <button id="download-button" type="submit" class="btn btn-success">Download</button>
            </a>
          </div>
          <div class="modal-body">
       
            <img src="https://via.placeholder.com/500" id="modal_img">
          </div>
        </div>
      </di>
    </div>
  </div>
</div>
{% endif %}



</body>

{% endblock %}

{% block scripts %}



<script src="/static/chart/highcharts.js"></script>
<script src="/static/chart/modules/data.js"></script>
<script src="/static/chart/modules/series-label.js"></script>
<script src="/static/chart/modules/exporting.js"></script>
<script src="/static/chart/modules/export-data.js"></script>
<script src="/static/chart/modules/accessibility.js"></script>
<script type="module">
  import { 
    generate_html_from_data, 
    ready_project_page, 
    call_graphics, 
    call_metadata, 
    ready_project_toggles, 
    ready_project_buttons, 
    get_metrics
  } from '/static/js/utils.js';


  // Prepare project page and render default metadata
  $(document).ready( function() {
    let run_uid = "{{ runcard['uid'] }}";
    let project = "{{ selected_project }}";
    ready_project_page(run_uid, project);
  });


  $(document).on('click','#graphics-button',function(){
    // get data from element
    let element = document.getElementById("metadata-run-id");
    call_graphics(element.getAttribute('data-runid')) ;

  });
 

  window.get_project=(run_uid, project)=>{
    ready_project_page(run_uid, project);
    ready_project_buttons();
  }


  // highchart logic
  Highcharts.setOptions({
    colors: ['#04b78a', "#5e0fb7", "#bdbdbd", "#009adb"],
  });

  function build_bar_chart (metrics, selected_metrics) {
    var scores = [];
    for (var i = 0; i < selected_metrics.length; i++) {

        var metric = metrics[selected_metrics[i]];
        var last_metric = metric[metric.length - 1]
        scores.push(last_metric["value"]);
        
    };

    // get min and max values for y axis across all metrics
    // if min is greater than 0 set to 0
    // add padding to max
    minyValue = Math.min(Math.min(...scores), 0);
    maxyValue = Math.max(...scores) * 1.1;

    
    Highcharts.chart('MetricChart', {
        chart: {
          type: 'column'
        },
        title: {
          text: 'Metrics for {{ runcard["name"] }}',
          align: 'left'
        },
      
        xAxis: {
            type: 'category',
            categories: selected_metrics,
            lineWidth: 1,
        },
        yAxis: {
          min: minyValue,
          title: {
            text: 'Metric Value)'
          },
            lineWidth: 1,
            tickLength: 10,
            tickWidth: 1
        },
        legend: {
            enabled: true
        },
        plotOptions: {
            series: {
                borderWidth: 1,
                borderColor: 'black'
            }
        },
        series: [
            {
                name: 'Metrics',
                colorByPoint: true,
                data: scores,
                colors: ['#04b78a', "#5e0fb7", "#bdbdbd", "#009adb"],
                pointPadding: 0,
        
            }
        ],
        plotOptions: {
            series: {
              states: {
                inactive: {
                    opacity: 1
                  }
                },
              lineWidth: 3,
            }
        },
    });

}

  function build_line_chart(metrics, selected_metrics) {

    var data = [];
    for (var i = 0; i < selected_metrics.length; i++) {

        var metric = metrics[selected_metrics[i]];

    
        var points = [];

        for (var j = 0; j < metric.length; j++) {
            var curr_metric = metric[j];
            points.push([curr_metric["step"] || 1, curr_metric["value"]]);
        }

        data.push({
            name: selected_metrics[i],
            data: points,
            marker: {
                enabled: false,
              },
        });
    };

  

    Highcharts.chart('MetricChart', {
        chart: {
          type: 'line'
        },
        title: {
          text: 'Metrics for {{ runcard["name"] }}',
          align: 'left'
        },
      
        xAxis: {
            type: 'category',
            title: {
                text: 'Step'
              },
              lineWidth: 1,
        },
        yAxis: {
          title: {
            text: 'Value'
          },
            lineWidth: 1,
            tickLength: 10,
            tickWidth: 1
        },
        legend: {
            enabled: true
        },
     
        series: data,
        plotOptions: {
            series: {
              states: {
                inactive: {
                    opacity: 1
                  }
                },
              lineWidth: 3,
            }
        },
    });
  }


  $(document).on('click','#plot-metric',function(){


    var selected_metrics = [];
    var selected_chart = [];

    $('#myForm input:checked').each(function() {

        if ($(this).attr('name') == 'bar' || $(this).attr('name') == 'step') {
            selected_chart.push($(this).attr('name'));
        }
        else {
            selected_metrics.push($(this).attr('name'));
        }
  
    });

    // get metrics here
    let element = document.getElementById("metadata-run-id");
    get_metrics(element.getAttribute('data-runid'), selected_metrics)



  });

 


</script>




{% endblock %}






