


<div id="VersionContainer" style="padding-top:80px; ">
  <h5 class="display-8">Select a project to view available runs</h5>
  <div id="DropdownSelect">
    <select id="ProjectRepositoriesSelect"></select>
  </div>
</div>


<div class="container-fluid" id="VersionContainer">
  <div id="header" class="page-header">
    <h3 id="version-header"></h3> 
    <button id="version-toggle" type="button" class="version-toggle"><i class="fa-solid fa-caret-left"></i></button>
  </div>
</div>

<div class="boxes" id="VersionListContainer">
  <div id="VersionColumn">
    <div class="list-group" id="version-list"></div>
  </div>

  <div id="MetadataColumn" style="display: none;">
    <div class="card" style="width:100%;" id="meta-column">
      <div class="card-body" id='CardUpperBox'>
        <h4>Run 
          <div id="CardTabBox" style="display: flex;">
            <button id="metadata-button" type="button" data-toggle="MetadataBox" class="header-tab" >Metadata</button>
            <button id="graphics-button" type="button" data-toggle="GraphicsBox" class="header-tab">Graphics</button>
            <button id="graph-button" type="button" data-toggle="GraphTab" class="header-tab">Graphs</button>
            <button id="metrics-button" type="button" data-toggle="MetricsTab" class="header-tab">Metrics</button>
          </div>
        </h4>
      </div>

      <div class="card border-0 showable-div MetadataBox" style="width:100%;">
        {% include "include/components/run/metadata.html" %}
      </div>

      <div class="card-body border-0 showable-div MetadataBox" style="width:100%;">
        {% include "include/components/tags.html" %}
      </div>

      <div class="card-body border-0 showable-div MetadataBox" style="width:100%;">
        {% include "include/components/run/extras.html" %}
      </div>

      <div class="card-body border-0 showable-div GraphicsBox" style="width:100%; display: none;">
        {% include "include/components/run/graphics.html" %}
      </div>

      <div class="card-body border-0 showable-div MetricsTab" style="width:100%; display: none;">
        {% include "include/components/run/metrics.html" %}
      </div>

      <div class="card-body border-0 showable-div GraphTab" style="width:100%; display: none; min-height:20%;">
        {% include "include/components/run/graphs.html" %}
      </div>

    </div>
  </div>
</div>

<div id="ImageModal" class="modal">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ImageModalLabel" style="float: left;">Artifact</h5>
        <a id="modal-download" href="placeholder">
          <button id="download-button" type="submit" class="header-button">Download</button>
        </a>
      </div>
      <div class="modal-body">
        <img src="https://via.placeholder.com/500" id="modal_img">
      </div>
    </div>
  </div>
</div>



