<hr id="version-spacer">
<div class="card-body content" id="CardMetadata">
<div class="table-responsive">
  <table align="left" class="no-spacing" cellspacing="0" id="VersionTable">
    <colgroup>
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 60%;">
  </colgroup>
    <tbody>
      <tr>
        <td><i class="fa fa-id-card" style="color:#04b78a"></i></td>
        <td><font color="#999">ID:</font></td>
        <td id='data-uid'></td>
      </tr>

      <tr>
        <td><i class="fa fa-id-card" style="color:#04b78a"></i></td>
        <td><font color="#999">Name:</font></td>
        <td id='data-name'></td>
      </tr>

      <tr>
        <td><i class="fa fa-id-card" style="color:#04b78a"></i></td>
        <td><font color="#999">Version:</font></td>
        <td id='data-version'></td>
      </tr>

      <tr>
        <td><i class="fa fa-users" style="color:#04b78a"></i></td>
        <td><font color="#999">Repository:</font></td>
        <td id='data-repo'></td>
      </tr>
  
      <tr>
        <td><i class="fa-solid fa-brain" style="color:#04b78a"></i></td>
        <td><font color="#999">Data Interface:</font></td>
        <td id='data-interface'></td>
      </tr>


      <tr>
        <td><i class="fa fa-file" style="color:#04b78a"></i></td>
        <td><font color="#999">Data Type:</font></td>
        <td id='data-type'></td>
      </tr>

      <tr>
        <td><i class="fa-solid fa-download" style="color:#04b78a"></i></td>
        <td><font color="#999">Data:</font></td>
        <td>
            <a id='data-uri'>
              <button id="download-button" type="submit" class="btn btn-success" >Download</button>
            </a>
        </td>
      </tr>

      <tr id="data-profile" style="display: none;">
        <td><i class="fa-solid fa-download" style="color:#04b78a"></i></td>
        <td><font color="#999">Data Profile:</font></td>
        <td>
          <a id='data-profile-uri'>
            <button id="download-button" type="submit" class="btn btn-success" >Download</button>
          </a>
        </td>
      </tr>

      <tr>
        <td><i class="fa-solid fa-link" style="color:#04b78a"></i></td>
        <td><font color="#999">AuditCard:</font></td>
        <td>
          <a id="audit-link">
            <button id="download-button" type="submit" class="btn btn-success" >Link</button>
          </a>
         </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
