<tr style="text-align: left;">
    <td>Model Name</td>
    <td>{{metadata["model_name"]}}</td>
</tr>
<tr style="text-align: left;">
    <td>Model Version</td>
    <td>{{metadata["model_version"]}}</td>
</tr>
<tr style="text-align: left;">
    <td>Model Type</td>
    <td>{{metadata["model_type"]}}</td>
</tr>
<tr style="text-align: left;">
    <td>Onnx Uri</td>
    <td>{{metadata["onnx_uri"]}}</td>
</tr>
<tr style="text-align: left;">
    <td>Onnx Version</td>
    <td>{{metadata["onnx_version"]}}</td>
</tr>
<tr style="text-align: left;">
    <td>Model Uri</td>
    <td>{{metadata["model_uri"]}}</td>
</tr>
<tr style="text-align: left;">
    <td>Sample Data</td>
    <td>{{metadata["sample_data"]}}</td>
</tr>