{% extends "base.html" %}

{% block title %}
  <title>Version</title>
{% endblock %}

{% block content %}
<body id="ModelVersionPage">
  <div class="container" style="padding-top:65px;">
  </div>

{% include "include/model/model_subnav.html" %}

<br>

<div class="container-fluid" style="padding-top:50px;" id="VersionContainer">
  <div class="row">
    <h5 class="display-8">Available Model Versions</h5>
  </div>
</div>



<!---- Model version table -------->
<div class="container-fluid" id="VersionContainer">
  <div class="page-header">
    <h2>{{selected_model["name"]}}</h2>
  </div>
</div>
<br>





<!---Create vesion tables ------>
<div class="boxes" id="VersionContainer">
    <div id="VersionBox">
      <div class="list-group">
        {% for version in versions %}
          <a href="/opsml/models/versions/?model={{ selected_model["name"] }}&selected_version={{ version["version"] }}" class="list-group-item list-group-item-action {% if selected_version ==  version["version"] %}active {% endif %}">v{{ version["version"] }} -- {{ version["date"] }}</a>
        {% endfor %}
      </div>
    </div>

    <div id="CardBox">
      <div class="card" id="Metadata">
        <div class="card-body">
          <h4>Model</h4>
  
          <table align="left" class="no-spacing" cellspacing="0" id="VersionTable">
            <colgroup>
              <col span="1" style="width: 5%;">
              <col span="1" style="width: 15%;">
              <col span="1" style="width: 59%;">
           </colgroup>
            <tbody>
              <tr>
                <td><i class="fa fa-id-card" style="color:#04b78a"></i></td>
                <td><font color="#999">ID:</font></td>
                <td>{{ selected_model["uid"] }}</td>
              </tr>
  
              <tr>
                <td><i class="fa fa-id-card" style="color:#04b78a"></i></td>
                <td><font color="#999">Name:</font></td>
                <td>{{ metadata["model_name"] }}</td>
              </tr>
  
              <tr>
                <td><i class="fa fa-id-card" style="color:#04b78a"></i></td>
                <td><font color="#999">Version:</font></td>
                <td>{{ metadata["model_version"] }}</td>
              </tr>
  
              <tr>
                <td><i class="fa fa-users" style="color:#04b78a"></i></td>
                <td><font color="#999">Team:</font></td>
                <td>{{ metadata["model_team"] }}</td>
              </tr>
  
              <tr>
                <td><i class="fa fa-file" style="color:#04b78a"></i></td>
                <td><font color="#999">Type:</font></td>
                <td>{{metadata["model_type"]}}</td>
              </tr>
  
              {% if metadata["onnx_uri"] is not none %}
                <tr>
                  <td><i class="fa-solid fa-download" style="color:#04b78a"></i></td>
                  <td><font color="#999">Onnx Model:</font></td>
                  <td>
                    <a href="/opsml/files/download?read_path={{metadata["onnx_uri"]}}" download={{metadata["onnx_uri"].split("/")[-1]}}>
                      <button id="download-button" type="submit" class="btn btn-success" >Download</button>
                    </a>
                </td>
                </tr>
  
  
              {% endif %}
  
              <tr>
                <td><i class="fa-solid fa-download" style="color:#04b78a"></i></td>
                <td><font color="#999">Trained Model:</font></td>
                <td>
                    <a href="/opsml/files/download?read_path={{metadata["model_uri"]}}" download={{metadata["model_uri"].split("/")[-1]}}>
                      <button id="download-button" type="submit" class="btn btn-success" >Download</button>
                    </a>
                </td>
              </tr>
  
              <tr>
                <td><i class="fa-solid fa-link" style="color:#04b78a"></i></td>
                <td><font color="#999">AuditCard:</font></td>
                <td>
                  <a href="/opsml/files/download?read_path={{metadata["onnx_uri"]}}" download={{metadata["onnx_uri"].split("/")[-1]}}>
                    <button id="download-button" type="submit" class="btn btn-success" >Link</button>
                  </a>
              </td>
              </tr>
  
  
            </tbody>
          </table>
        </div>
        <hr id="version-spacer">
  
        {% if runcard["tags"]|length > 0 %}
          <div class="card-body">
            <h5><i class="fa-solid fa-tag" style="color:#04b78a"></i> <font color="#999">Tags</font></h5>
            <table align="left" class="no-spacing" cellspacing="0" id="VersionTable">
              <colgroup>
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 59%;">
       
            </colgroup>
              <tbody>
                {% for tag_name, tag_value in runcard["tags"].items() %}
                    <tr>  
                      <td><font color="#999">{{tag_name}}:</font></td>
                      <td>{{tag_value}}</td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
            <hr id="version-spacer">
          </div>
        {% endif %}
  
        <hr id="version-spacer">
        <div class="card-body" id="toggle">
  
            <span><button id="version-button" type="submit" class="btn btn-success" >Metrics</button></span>
            <span><button id="version-button" type="submit" class="btn btn-success" >Sample Data</button></span>
            <span><button id="version-button" type="submit" class="btn btn-success" >Params</button></span>
            <span><button id="version-button" type="submit" class="btn btn-success" >Artifacts</button></span>
            <span><button id="version-button" type="submit" class="btn btn-success" >Metadata</button></span>
    
        </div>
  
        {% if runcard["metrics"]|length > 0 %}
          <div class="card-body" id="Metrics" style="display:none">
            <table align="left" class="no-spacing" cellspacing="0" id="VersionTable">
              <h5><i class="fa-solid fa-chart-simple" style="color:#04b78a"></i> <font color="#999">Metrics</font></h5>
              <thead style="background:white;">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Value</th>
                  <th scope="col">Step</th>
                  <th scope="col">Timestamps</th>
                </tr>
              </thead>
              
              <colgroup>
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
       
            </colgroup>
              <tbody>
                {% for metric_name, metric_values in runcard["metrics"].items() %}
                    <tr>
                      <td><font color="#999">{{metric_name}}</font></td>
                      <td>{{metric_values[-1].value}}</td>
                      <td>{{metric_values[-1].step}}</td>
                      <td>{{metric_values[-1].timestamp}}</td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
  
        <div class="card-body" id="SampleData" style="display:none">
          <h5><i class="fa-solid fa-table" style="color:#04b78a"></i> <font color="#999">Sample Data</font></h5>
            <pre style="max-height: 500px; overflow: scroll;"><code class="json">{{metadata["sample_data"]}}</code></pre>
        </div>
  
        {% if runcard["parameters"]|length > 0 %}
        <div class="card-body" id="Params" style="display:none">
          <h5><i class="fa-solid fa-gear" style="color:#04b78a"></i> <font color="#999">Parameters</font></h5>
          <table align="left" class="no-spacing" cellspacing="0" id="VersionTable">
  
            <thead style="background:white;">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
  
            <colgroup>
              <col span="1" style="width: 15%;">
              <col span="1" style="width: 15%;">
            </colgroup>
  
            <tbody>
              {% for param_name, param_value in runcard["parameters"].items() %}
                <tr>
                  <td><font color="#999">{{param_name}}</font></td>
                  <td>{{param_value[0]["value"]}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
  
        {% if runcard["artifact_uris"]|length > 0 %}
        <div class="card-body" id="Artifacts" style="display:none">
          <h5><i class="fa-solid fa-floppy-disk" style="color:#04b78a"></i> <font color="#999">Artifacts</font></h5>
          <table align="left" class="no-spacing" cellspacing="0" id="VersionTable">
            <colgroup>
              <col span="1" style="width: 15%;">
              <col span="1" style="width: 50%;">
            </colgroup>
  
            <tbody>
              {% for name, uri in runcard["artifact_uris"].items() %}
                <tr>
                  <td><font color="#999">{{name}}</font></td>
                  <td>
                    <a href="/opsml/files/download?read_path={{uri}}" download={{uri.split("/")[-1]}}>
                      <button id="download-button" type="submit" class="btn btn-success">Download</button>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
  
        <div class="card-body" id="MetadataJson" style="display:none;">
          <h5><i class="fa-solid fa-table" style="color:#04b78a"></i> <font color="#999">Metadata</font></h5>
            <pre style="max-height: 500px; overflow: scroll;"><code class="json">{{metadata_json}}</code></pre>
        </div>
      </div>
    </div>

    <div class="SummaryBox">
      <div class="list-group">
        {% for version in versions %}
          <a href="/opsml/models/versions/?model={{ selected_model["name"] }}&selected_version={{ version["version"] }}" class="list-group-item list-group-item-action {% if selected_version ==  version["version"] %}active {% endif %}">v{{ version["version"] }} -- {{ version["date"] }}</a>
        {% endfor %}
      </div>
    </div>
</div>

<div class="list-group">
  {% for version in versions %}
    <a href="/opsml/models/versions/?model={{ selected_model["name"] }}&selected_version={{ version["version"] }}" class="list-group-item list-group-item-action {% if selected_version ==  version["version"] %}active {% endif %}">v{{ version["version"] }} -- {{ version["date"] }}</a>
  {% endfor %}
</div>



</body>


{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
  $('.list-group-item').click(function() {
    $('.list-group-item').removeClass('active');
    $(this).addClass('active');
    var version_uid = $(this).attr('id');
    alert(id);
    // write javscript that will take the value of the active div on click and pass that value to another div
 });

 $('#toggle > span').click(function() {
  var ix = $(this).index();
  
  $('#Metrics').toggle( ix === 0 );
  $('#SampleData').toggle( ix === 1 );
  $('#Params').toggle( ix === 2 );
  $('#Artifacts').toggle( ix === 3 );
  $('#MetadataJson').toggle( ix === 4 );
});

</script>


{% endblock %}
